RewriteEngine on
RewriteCond %{HTTP_HOST} ^jwadvogados.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.jwadvogados.com.br$
RewriteCond %{REQUEST_URI} !jwadvogados.com.br/public/
RewriteRule (.*) /jwadvogados.com.br/public/$1 [L]